@keyframes apwp {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.box_list {
  width: 100%;
  position: relative;
}

.box_list > img {
  animation: apwp 3s ease-in-out;
}

.box_list > .box_card:nth-of-type(odd) {
  justify-content: flex-start;
}

.box_list > .box_card:nth-of-type(even) {
  justify-content: flex-end;
}

.dot {
  all: unset;
  position: absolute;
  min-width: 30%;
  display: grid;
  place-items: center;
  top: calc(50% - 100px);
  opacity: 0.3;
}

.box_list > .box_card:nth-of-type(odd) > .dot {
  right: 0;
}

.box_list > .box_card:nth-of-type(even) > .dot {
  left: 0;
}

.motion_card{
  max-width: 70%;
}

@media (width < 992px) {
  .dot {
    min-width: 10%;
  }

  .motion_card{
    max-width: 90%;
  }
}
