.badge {
  border-radius: 100px;
  padding: 10px 25px;
  border: 2px solid
    color-mix(in srgb, var(--mantine-color-brandSecondaryA-9) 90%, black 10%);
  align-self: flex-start;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  position: relative;
  background: color-mix(
    in srgb,
    var(--mantine-color-brandSecondaryA-9) 50%,
    black 50%
  );
  transition: all 0.1s ease-in-out;
}

.badge:hover {
  border: 2px solid
    color-mix(in srgb, var(--mantine-color-brandSecondaryA-8) 90%, black 10%);
}

@media (width < 992px) {
  .badge {
    align-self: auto;
  }

  .left_col_stack {
    align-items: center;
  }

  .left_col_group_buttons {
    justify-content: center;
  }

  .left_col_flex_cards {
    justify-content: center;
  }

  .badge_motion{
    margin-left: auto;
    margin-right: auto;
  }
}

@media (width < 400px) {
  .group_cards {
    flex-wrap: wrap;
  }

  .card {
    width: 100% !important;
  }
}
