.text_top {
  background: color-mix(
    in srgb,
    var(--mantine-color-brandSecondaryA-9) 55%,
    black 45%
  );
   font-family: "Fira Code", "JetBrains Mono", monospace;
}

.text_bottom {
  background: color-mix(
    in srgb,
    var(--mantine-color-brandSecondaryA-9) 20%,
    black 80%
  );
   font-family: "Fira Code", "JetBrains Mono", monospace;
}

.link {
  text-decoration: none;
  color: var(--mantine-color-brandSecondaryA-3);
}

.link:hover {
  text-decoration: underline;
}

.card{
   transition: all 0.2s ease-in-out;
}

.card:hover{
  transform: translateX(-2px);
  transition: all 0.2s ease-in-out;
  box-shadow: 3px 3px 5px color-mix(in srgb, var(--mantine-color-brandSecondaryA-3) 10%, transparent 80%);
}