.group_minor_cards {
  gap: 20px;
  align-items: stretch;
}

.group_minor_cards > :global(.mantine-Paper-root) {
  height: 100%;
}

@media (width < 1250px) {
  .group_minor_cards {
    flex-wrap: wrap;
    justify-content: center;
  }

  .bottom_group{
    align-items: flex-start;
  }
}
